{% extends 'figital/base.html' %}
{% load static %}  

{% block title %}Página Inicial - Autenticado{% endblock %}

{% block content %}
    <!-- Barra de navegação fixada no topo com botão de Logout alinhado à direita -->
    <nav class="navbar navbar-light bg-light fixed-top">
        <div class="container-fluid d-flex justify-content-between">
            <span class="navbar-text">Bem-vindo, {{ request.user.username }}  ao Laboratório de Estratégias Figital!</span>
            {% comment %} <a href="{% url 'index' %}" class="btn btn-secondary">Home</a>  {% endcomment %}
            <a href="{% url 'index' %}" class="btn btn-danger">Logout</a> 
        </div>
    </nav>

    <!-- Logo ocupando toda a parte superior da página -->
    <div class="text-center mt-5">
        <img src="{% static 'images/logo.png' %}" alt="Logo Figital" class="img-fluid w-75">
    </div>

    <!-- Contêiner para o botão de visualização -->
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <!-- Botão único para visualizar as inscrições -->
                <a href="{% url 'visualizar_inscricoes' %}" class="btn btn-primary btn-lg w-100">
                    Visualizar Inscrições de Desenvolvedores
                </a>
            </div>
        </div>
    </div>
{% endblock %}
